{% extends "base.html" %}
{% block content %}

    <h1>Access Info</h1>

    <div class="access_info">
        <h2>Users</h2>
        <table>
            <tr class="heading">
                <td>Role</td>
                <td>Name</td>
                <td>Email</td>
                <td>Password</td>
                <td>Phone</td>
                <td>Address</td>
            </tr>
            {% for user in users %}
            <tr>
                <td>{{ user.type }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.address }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="access_info">
        <h2>Courses</h2>
        <table>
            <tr class="heading">
                <td>Course ID</td>
                <td>Number of Lectures</td>
                <td>Number of Labs</td>
                <td>TAs Assigned</td>
            </tr>
            {% for course in courses %}
            <tr>
                <td><a href="{% url 'Course1' coursename=course.course_id%}">
                    {{ course.course_department }}{{ course.course_id }}</a></td>
                <td>{{ course.num_lectures }}</td>
                <td>{{ course.num_labs }}</td>
                <td>{{ course.current_num_TA }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="access_info">
        <h2>Lectures</h2>
        <table>
            <tr class="heading">
                <td>Course-Section ID</td>
                <td>Instructor</td>
                <td>TA</td>
                <td>Location</td>
                <td>Time</td>
            </tr>
            {% for lecture in lectures %}
            <tr>
                <td>{{ lecture.course.course_department}}{{ lecture.course.course_id }}-
                    {{ lecture.lecture_section }}</td>
                <td>{{ lecture.instructor }}</td>
                <td>{{ lecture.TA }}</td>
                <td>{{ lecture.location }}</td>
                <td>{{ lecture.time }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="access_info">
    <h2>Labs</h2>
        <table>
            <tr class="heading">
                <td>Course-Section ID</td>
                <td>TA</td>
                <td>Location</td>
                <td>Time</td>
            </tr>
            {% for lab in labs %}
            <tr>
                <td>{{ lab.course.course_department}}{{ lab.course.course_id }}-{{ lab.lab_section }}</td>
                <td>{{ lab.TA }}</td>
                <td>{{ lab.location }}</td>
                <td>{{ lab.time }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock content %}