{% extends "base.html" %}
{% block content %}

    <h1>Access Info</h1>

    <div class="access_info">

        <h2>Administrator</h2>
        <table>
            <tr class="heading">
                <td>Name</td>
                <td>Email</td>
                <td>Password</td>
                <td>Phone</td>
                <td>Address</td>
            </tr>
            <tr>
                <td>{{ admin.name }}</td>
                <td>{{ admin.email }}</td>
                <td class="spoiler">{{ admin.password }}</td>
                <td>{{ admin.phone }}</td>
                <td>{{ admin.address }}</td>
            </tr>
        </table>

        <h2>Supervisor</h2>
        <table>
            <tr class="heading">
                <td>Name</td>
                <td>Email</td>
                <td>Password</td>
                <td>Phone</td>
                <td>Address</td>
            </tr>
            <tr>
                <td>{{ super.name }}</td>
                <td>{{ super.email }}</td>
                <td class="spoiler">{{ super.password }}</td>
                <td>{{ super.phone }}</td>
                <td>{{ super.address }}</td>
            </tr>
        </table>

        <h2>Instructors</h2>
        <table>
            <tr class="heading">
                <td>Name</td>
                <td>Email</td>
                <td>Password</td>
                <td>Phone</td>
                <td>Address</td>
            </tr>
            {% for instructor in instructors %}
            <tr>
                <td><a href="{% url 'Instructor1' instructor_email=instructor.email %}">{{ instructor.name }}</a></td>
                <td>{{ instructor.email }}</td>
                <td class="spoiler">{{ instructor.password }}</td>
                <td>{{ instructor.phone }}</td>
                <td>{{ instructor.address }}</td>
            </tr>
            {% endfor %}
        </table>

        <h2>TAs</h2>
        <table>
            <tr class="heading">
                <td>Name</td>
                <td>Email</td>
                <td>Password</td>
                <td>Phone</td>
                <td>Address</td>
            </tr>
            {% for ta in tas %}
            <tr>
                <td><a href="{% url 'TA1' ta_email=ta.email %}">{{ ta.name }}</a></td>
                <td>{{ ta.email }}</td>
                <td class="spoiler">{{ ta.password }}</td>
                <td>{{ ta.phone }}</td>
                <td>{{ ta.address }}</td>
            </tr>
            {% endfor %}
        </table>

        <h2>Courses</h2>
        <table>
            <tr class="heading">
                <td>Course ID</td>
                <td>Number of Lectures</td>
                <td>Number of Labs</td>
                <td>TAs Assigned</td>
            </tr>
            {% for course in courses %}
            <tr>
                <td><a href="{% url 'Course1' course_dept_id=course.course_dept_id %}">
                    {{ course.course_department }}{{ course.course_id }}</a></td>
                <td>{{ course.num_lectures }}</td>
                <td>{{ course.num_labs }}</td>
                <td>{{ course.current_num_TA }}</td>
            </tr>
            {% endfor %}
        </table>

    </div>
{% endblock content %}