{% extends "base.html" %}
{% block content %}
    <h1>Course: {{ course_dept_id }}</h1>
    <div class="access_info">
        <h2>Instructors</h2>
        <table>
            <tr class="heading">
                <td>Name</td>
                <td>Email</td>
            </tr>
            {% for instructor in instructors %}
            <tr>
                <td>{{ instructor.name }}</td>
                <td>{{ instructor.email }}</td>
            </tr>
            {% endfor %}
        </table>
        <h2>TAs</h2>
        <table>
            <tr class="heading">
                <td>Name</td>
                <td>Email</td>
            </tr>
            {% for ta in tas %}
            <tr>
                <td>{{ ta.name }}</td>
                <td>{{ ta.email }}</td>
            </tr>
            {% endfor %}
        </table>
        <h2>Lectures</h2>
        <table>
            <tr class="heading">
                <td>Course-Section ID</td>
                <td>Instructor</td>
                <td>TA</td>
                <td>Location</td>
                <td>Time</td>
            </tr>
            {% for lecture in lectures %}
            <tr>
                <td>{{ lecture.course.course_department}}{{ lecture.course.course_id }}-
                    {{ lecture.lecture_section }}</td>
                <td>{{ lecture.instructor }}</td>
                <td>{{ lecture.TA }}</td>
                <td>{{ lecture.lecture_location }}</td>
                <td>{{ lecture.lecture_time }}</td>
            </tr>
            {% endfor %}
        </table>

    <h2>Labs</h2>
        <table>
            <tr class="heading">
                <td>Course-Section ID</td>
                <td>TA</td>
                <td>Location</td>
                <td>Time</td>
            </tr>
            {% for lab in labs %}
            <tr>
                <td>{{ lab.course.course_department}}{{ lab.course.course_id }}-{{ lab.lab_section }}</td>
                <td>{{ lab.TA }}</td>
                <td>{{ lab.lab_location }}</td>
                <td>{{ lab.lab_time }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock content %}