{% extends "base.html" %}
{% block content %}

    <h1>Create Course</h1>
    <form method="POST" id="create_course_form">
        {% csrf_token %}
        <label for="course_department">Select the Course Department:</label>
        <br>
        <select id="course_department" name="course_department">
            <option value="COMPSCI">COMPSCI</option>
            <option value="ELECENG">ELECENG</option>
            <option value="PHYSICS">PHYSICS</option>
            <option value="MATH">MATH</option>
            <option value="BIOMED">BIOMED</option>
            <option value="CIVIL">CIVIL</option>
            <option value="INDENG">INDENG</option>
            <option value="MATENG">MATENG</option>
            <option value="MECHENG">MECHENG</option>
            <option value="STRUCENG">STRUCENG</option>
            <option value="WEBDEV">WEBDEV</option>
        </select>
        <br><br>
        <label for="course_id">Enter the Course ID:</label>
        <br>
        <input type="number" id="course_id" name="course_id" min="101" max="999" value="101" required>
        <br><br>
        <label for="num_lectures">Number of Lecture Sections:</label>
        <input type="number" id="num_lectures" name="num_lectures" min="1" max="5" value="1" required>
        <br><br>
        <label for="num_labs">Number of Lab Sections:</label>
        <input type="number" id="num_labs" name="num_labs" min="0" max="5" value="0" required>
        <br><br>
        <input type="submit">
    </form>

    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}

{% endblock content %}