body {
    background: lightgray;
    font-family: "Trebuchet MS";
}

.alert {
    color: red;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  font-weight: bold;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  font-weight: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #11aad8;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #b6e9f9;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.font_help {
    font-family: "Trebuchet MS";
}

.access_info {
    width: 95%;
    margin: auto;
}

.access_info table {
    border: 1px solid black;
    border-spacing: 0;
}

.access_info td {
    border: 1px solid black;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
}

.access_info tr:nth-child(even) {
    background-color: #b1b4b5;
}

.access_info tr:nth-child(odd) {
    background-color: #ffffff;
}

td.spoiler  {
    color: black;
    background-color: black;
}

td.spoiler:hover {
    color: white;
}

.access_info a {
    color: #082493;
    font-weight: bold;
}

.access_info a:visited {
    color: #082493;
    font-weight: bold;
}

.access_info a:hover {
    color: #3b60ef;
}

.heading {
    font-weight: bold;
}
