body {
    background: lightgray;
    font-family: "Trebuchet MS";
}

.alert {
    color: red;
}

#nav {
    width: 100%;
    line-height: 30px;
}

.menu {
    background: black;
    color: white;
    padding: 5px 5px;
    font-weight: bold;
}

.menu a:link {
    color: white;
}

.menu a:visited {
    color: white;
}

.menu a:hover {
    color: #33fff0;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline;
}

.font_help {
    font-family: "Trebuchet MS";
}

.access_info {
    width: 95%;
    margin: auto;
}

.access_info table {
    width: 100%;
    margin: auto;
    border: 1px solid black;
    border-spacing: 0;
}

.access_info td {
    text-align: center;
    border: 1px solid black;
}

.access_info tr:nth-child(even) {
    background-color: #abaeb2;
}

.access_info tr:nth-child(odd) {
    background-color: #ffffff;
}

.heading {
    font-weight: bold;
}
