
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TA Assigninator 5000</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel = "stylesheet" href =
            "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>
    <h1>TA Assigninator 5000</h1>
    <div class="navbar">
            <a href="/index">Home</a>
            <a href="/login">Login</a>
            <a href="/logout">Logout</a>
            <div class="dropdown">
                <button class="dropbtn">Create
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="/create_account">Create Account</a>
                    <a href="/create_course">Create Course</a>
                </div>
            </div>
            <a href="/access_info">Access Info</a>
            <div class="dropdown">
                <button class="dropbtn">Edit
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="/edit_account">Edit Account</a>
                    <a href="/edit_info">Edit Info</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Assign
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="/assign_instructor">Assign Instructor(Course)</a>
                    <a href="/assign_ta">Assign TA(Course)</a>
                    <a href="/assign_instructor_lec">Assign Instructor(Lecture)</a>
                    <a href="/assign_ta_lablec">Assign TA(Lab/Lecture)</a>
                </div>
            </div>
            <a href="/view_course_assignments">View Course Assignments</a>
            <a href="/view_ta_assign">View TA Assign</a>
    </div>
    {% block content %}{% endblock content %}
</body>
</html>